@model AspNetCoreMvcWithLightVue.Controllers.ComplexViewModel

<h4>ComplexViewModel FormData 版</h4>
<hr />
<div>

    <form asp-action="ShowStyle1"
          autocomplete="off"
          method="post">
        <div >
            <table class="table">
                <thead>
                <tr>
                    <th>Category</th>
                    <th>Name</th>
                    <th>Value</th>
                    <th></th>
                </tr>
                </thead>
                <tbody id="categories">
                @for (int i = 0; i < Model.Categories.Length; i++)
                {
                    ViewBag.CategoryIndex = (int?)i;

                    <partial name="CategoryView" />
                    <br />
                }
                </tbody>
            </table>
            <input type="button"
                   value="新增"
                   class="btn btn-primary"
                   style="margin: 5px;"
                   onclick="AddNewCategory()" />
        </div>
        <div class="form-group">
            <input type="submit"
                   value="儲存"
                   class="btn btn-primary" />
        </div>
    </form>
</div>

<a href='@Url.Action("Index")'>回上一頁</a>

@section Scripts
{
    <script>
        window.categoryIndex = @Model.Categories.Length;
        window.newCategoryUrl = '@Url.Action("NewCategoryAndThreeItems")';
        window.submitUrl = '@Url.Action("PostStyle2")';
        window.redirectUrl = '@Url.Action("ShowStyle2")';

        function AddNewCategory()
        {
            $.ajax({
                        url: newCategoryUrl,
                        type: 'post',
                        data: { categoryIndex } ,
                    })
             .done(function(e) {

                        $('#categories').append(e);

                        window.categoryIndex++;
                    })
             .fail(function(res) {
                        console.log('error', res);
                    });
        }

        function DeleteTable(e)
        {
            const tr = $(e.target).parent().parent();

            tr.next().remove();
            tr.next().remove();
            tr.remove();
        }

        ReIndexCategories = function(formData)
        {
            @* 字元 '[' 為 %5B, 字元 ']' 為 %5D  *@
            const matchAllPattern = /Categories%5B([0-9]+)%5D/g;
            const matchSinglePattern = /Categories%5B([0-9]+)%5D/;

            const matchAllResult = formData.match(matchAllPattern);

            if (matchAllResult)
            {
                const matchIndexes = matchAllResult
                                      // 去重複
                                     .filter((value, index, self) => self.indexOf(value) === index)
                                     // 抓出 index
                                     .map(value => value.match(matchSinglePattern)[1]);

                @* 字串中間的 Index 是用來被取代的 *@
                const indexTemplate = 'Categories%5BIndex%5D';
                for (let i = 0 ; i < matchIndexes.length ; i ++)
                {
                    const originIndex = matchIndexes[i];
                    const originIndexString = indexTemplate.replace('Index', originIndex);
                    const newIndexString = indexTemplate.replace('Index', i);

                    // console.log( originIndexString + ' > ' + newIndexString );

                    formData = formData.replaceAll(originIndexString, newIndexString);
                }
            }

            return formData;
        }

        $('form').submit(function(e) {
            console.log(e.target);

             const formData = $('form').serialize();

             const requestBody = ReIndexCategories(formData);

             $.ajax({
                         url: submitUrl,
                         type: 'post',
                         data: requestBody ,
                    })
                .done((e) => { window.location.href = redirectUrl })
                .fail((res) => { console.log('error', res); });

            e.preventDefault();
        });
    </script>
}
