@using KueiExtensions.System.Text.Json
@model DynamicColumnsAndRowsDto

<div id="app"
     v-cloak>
    <form autocomplete="off"
          v-on:submit.prevent="Submit()">
        <template v-for="(column) in columns">
            <div class="form-check">
                <input class="form-check-input"
                       type="checkbox"
                       v-model="dto.Columns"
                       v-bind:id="column.Name"
                       v-bind:value="column.Name">
                <label class="form-check-label"
                       v-bind:for="column.Name">
                    {{ column.Name }}
                </label>
            </div>
        </template>

        <div class="form-group">
            {{ dto.Columns }}
        </div>

        <table class="table">
            <thead>
            <tr>
                <template v-for="column in columns">
                    <th v-if="ShowColumn(column.Name)">
                        {{column.Name}}
                    </th>
                </template>
            </tr>
            </thead>
            <tbody>
                <tr v-for="(order, orderIndex) in dto.Orders"
                    v-bind:key="order.OrderID">
                    <template v-for="column in columns">
                        <td v-if="ShowColumn(column.Name)">
                            <input class="form-control"
                                   v-bind:type="column.ColumnType"
                                   v-model="order[column.Name]" />
                        </td>
                    </template>
                    <td class="align-middle">
                        <input type="button"
                               class="btn btn-danger"
                               value="刪除"
                               v-on:click="DeleteOrder(orderIndex)" />
                    </td>
                </tr>
            </tbody>
        </table>
        <input type="button"
               value="新增"
               class="btn btn-primary mb-1"
               v-on:click="AddNewOrder()" />
        <div class="form-group">
            <input type="submit"
                   value="儲存"
                   class="btn btn-primary" />
        </div>
    </form>
</div>

@section Scripts
{
    <script src="https://unpkg.com/vue@next"></script>

    <script>
      const { createApp, ref, onMounted, computed, reactive } = Vue;

      const app = createApp({
        setup() {

          const dto = reactive( @Html.Raw(Model.ToJson()) );
          const columns = @Html.Raw(ViewBag.ColumnsJson);
          const emptyOrder = @Html.Raw(ViewBag.EmptyOrderJson);
          const submitUrl = '@Url.Action("PostStyle1")';
          const redirectUrl = '@Url.Action("ShowStyle1")';

          function AddNewOrder() {
              dto.Orders.push(JSON.parse(JSON.stringify(emptyOrder)));
          }

          function DeleteOrder(orderIndex) {
              dto.Orders.splice(orderIndex, 1);
          }

          function Submit(){
                $.ajax({
                            url: submitUrl,
                            type: 'post',
                            data: JSON.stringify( dto ),
                            dataType: 'json',
                            contentType: 'application/json',
                       })
                   .done((e) => { window.location.href = redirectUrl })
                   .fail((res) => { console.log('error', res); })
          }

          function ShowColumn(columnName) {
              const column = dto.Columns.find(dtoColumn => dtoColumn === columnName );

              if (column) {
                  return true;
              }

              return false;
          }

          return {
              dto,
              columns,

              AddNewOrder,
              DeleteOrder,
              Submit,
              ShowColumn,
          }
        },
      });

      const vm = app.mount('#app');
    </script>

}
