@using KueiExtensions.System.Text.Json
@model DynamicColumnsAndRowsDto

<div id="app"
     v-cloak>
    <form autocomplete="off"
          v-on:submit.prevent="Submit()">
        <template v-for="(column) in columns">
            <div class="form-check">
                <input class="form-check-input"
                       type="checkbox"
                       v-model="dto.Columns"
                       v-bind:id="column.Name"
                       v-bind:value="column.Name">
                <label class="form-check-label"
                       v-bind:for="column.Name">
                    {{ column.Name }}
                </label>
            </div>
        </template>

        <table class="table">
            <thead>
            <tr>
                <template v-for="column in columns">
                    <th v-if="ShowColumn(column.Name)">
                        {{column.Name}}
                    </th>
                </template>
            </tr>
            </thead>
            <tbody>
            <tr v-for="(order, orderIndex) in dto.Orders"
                v-bind:key="order.OrderID">
                <template v-for="column in columns">
                    <td v-if="ShowColumn(column.Name)">
                        <input class="form-control"
                               v-bind:type="column.ColumnType"
                               v-model="order[column.Name]" />
                    </td>
                </template>
                <td class="align-middle">
                    <input type="button"
                           class="btn btn-danger"
                           value="刪除"
                           v-on:click="DeleteOrder(orderIndex)" />
                </td>
            </tr>
            </tbody>
        </table>
        <input type="button"
               value="新增"
               class="btn btn-primary mb-1"
               v-on:click="AddNewOrder()" />
        <div class="form-group">
            <input type="submit"
                   value="儲存"
                   class="btn btn-primary" />
        </div>
    </form>

    <fieldset >
        <legend>說明：</legend>

        <ol style="list-style: decimal inside;">
            <li>raozr 語法只負責將後端資料放至 vue 中</li>
            <li></li>
        </ol>

    </fieldset>

    <a v-bind:href='prevUrl'>回上一頁</a>
</div>

@section Scripts
{
    <script src="https://unpkg.com/vue@next"></script>

    <script>
      const { createApp, ref, onMounted, computed, reactive } = Vue;

      const app = createApp({
        setup() {

          const dto = reactive( @Html.Raw(Model.ToJson()) );

          // 所有可選的 column 清單
          const columns = @Html.Raw(ViewBag.ColumnsJson);

          // 空的 Order 物件
          const emptyOrder = @Html.Raw(ViewBag.EmptyOrderJson);

          // submit 指向的 Url
          const submitUrl = '@Url.Action("PostStyle1")';

          // submit 後指向的 Url
          const redirectUrl = '@Url.Action("ShowStyle1")';

          // 回上一頁的 url
          const prevUrl = '@Url.Action("Index")';

          // 新增 Order
          function AddNewOrder() {
              dto.Orders.push(JSON.parse(JSON.stringify(emptyOrder)));
          }

          // 刪除 Order
          function DeleteOrder(orderIndex) {
              dto.Orders.splice(orderIndex, 1);
          }

          function Submit(){
                $.ajax({
                            url: submitUrl,
                            type: 'post',
                            data: JSON.stringify( dto ),
                            dataType: 'json',
                            contentType: 'application/json',
                       })
                   .done((e) => { window.location.href = redirectUrl; })
                   .fail((res) => { console.log('error', res); })
          }

          // 回傳 bool 是否要顯示該 欄位
          function ShowColumn(columnName) {
              const column = dto.Columns.find(dtoColumn => dtoColumn === columnName );

              if (column) {
                  return true;
              }

              return false;
          }

          return {
              dto,
              columns,
              prevUrl,

              AddNewOrder,
              DeleteOrder,
              Submit,
              ShowColumn,
          }
        },
      });

      const vm = app.mount('#app');
    </script>

}
